In [2]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

## **Dataset : Salud del sue√±o y estilo de vida** ü•±
### Primera parte

1. **Ejercicio 1:**
Realizar un an√°lisis exploratorio del dataset proporcionado a su grupo.
* Identificar la cantidad de variables y observaciones presentes.
* Realizar un resumen estad√≠stico univariado.
* Describir brevemente la naturaleza de los datos.
* Determinar las columnas con valores faltantes.
2. **Ejercicio 2:**
* Seleccionar variables de inter√©s y realizar gr√°ficas que representen conjuntamente varias
columnas en funci√≥n de alg√∫n criterio seleccionado. Justificar la selecci√≥n de las mismas y
explicar brevemente el resultado obtenido.
3. **Ejercicio 3:**
Realizar un preprocesamiento del conjunto de datos:
* Proponer una estrategia y llevarla adelante para el manejo de valores faltantes y
eliminaci√≥n de duplicados.
* Considerar la normalizaci√≥n o estandarizaci√≥n de las variables num√©ricas y la
codificaci√≥n de las variables categ√≥ricas para su posterior an√°lisis.
* Realiza la ‚Äúdummificaci√≥n‚Äù de al menos una variable categ√≥rica y una variable
num√©rica
Documentar los pasos realizados y justificar las decisiones tomadas.

## **Caracter√≠sticas de las variables** üìë 
Person ID: An identifier for each individual.<br>
Gender: The gender of the person (Male/Female).<br>
Age: The age of the person in years.<br>
Occupation: The occupation or profession of the person.<br>
Sleep Duration (hours): The number of hours the person sleeps per day.<br>
Quality of Sleep (scale: 1-10): A subjective rating of the quality of sleep, ranging from 1 to 10.<br>
Physical Activity Level (minutes/day): The number of minutes the person engages in physical activity daily.<br>
Stress Level (scale: 1-10): A subjective rating of the stress level experienced by the person, ranging from 1 to 10.<br>
BMI Category: The BMI category of the person (e.g., Underweight, Normal, Overweight).<br>
Blood Pressure (systolic/diastolic): The blood pressure measurement of the person, indicated as systolic pressure over diastolic pressure.<br>
Heart Rate (bpm): The resting heart rate of the person in beats per minute.<br>
Daily Steps: The number of steps the person takes per day.<br>
Sleep Disorder: The presence or absence of a sleep disorder in the person (None, Insomnia, Sleep Apnea).<br>

In [3]:
# Carga del dataset
df = pd.read_csv("health_mod.csv")
df.head()

,Unnamed: 0,Person ID,Gender,Age,Occupation,Sleep Duration,Quality of Sleep,Physical Activity Level,Stress Level,BMI Category,Blood Pressure,Heart Rate,Daily Steps,Sleep Disorder
0,0,1,Male,27.0,Software Engineer,6.1,6,42,6.0,Overweight,126/83,77,4200,None
1,1,2,Male,28.0,Doctor,6.2,6,60,8.0,Normal,125/80,75,10000,None
2,2,3,Male,28.0,Doctor,6.2,6,60,8.0,Normal,125/80,75,10000,None
3,3,4,Male,28.0,Sales Representative,5.9,4,30,8.0,Obese,140/90,85,3000,Sleep Apnea
4,4,5,Male,28.0,Sales Representative,5.9,4,30,8.0,Obese,140/90,85,3000,Sleep Apnea

In [7]:
columnas = ["Unnamed: 0", "ID de persona", "G√©nero", "Edad", "Ocupaci√≥n", "Duraci√≥n del sue√±o", "Calidad del sue√±o", "Nivel de actividad f√≠sica", "Nivel de estr√©s", "Categor√≠a de IMC", "Presi√≥n arterial", "Frecuencia card√≠aca", "Pasos diarios", "Trastorno del sue√±o"]
df.columns = columnas
df.head(5)

,Unnamed: 0,ID de persona,G√©nero,Edad,Ocupaci√≥n,Duraci√≥n del sue√±o,Calidad del sue√±o,Nivel de actividad f√≠sica,Nivel de estr√©s,Categor√≠a de IMC,Presi√≥n arterial,Frecuencia card√≠aca,Pasos diarios,Trastorno del sue√±o
0,0,1,Male,27.0,Software Engineer,6.1,6,42,6.0,Overweight,126/83,77,4200,None
1,1,2,Male,28.0,Doctor,6.2,6,60,8.0,Normal,125/80,75,10000,None
2,2,3,Male,28.0,Doctor,6.2,6,60,8.0,Normal,125/80,75,10000,None
3,3,4,Male,28.0,Sales Representative,5.9,4,30,8.0,Obese,140/90,85,3000,Sleep Apnea
4,4,5,Male,28.0,Sales Representative,5.9,4,30,8.0,Obese,140/90,85,3000,Sleep Apnea

In [5]:
df.describe()

,Unnamed: 0,ID de persona,Edad,Duraci√≥n del sue√±o,Calidad del sue√±o,Nivel de actividad f√≠sica,Nivel de estr√©s,Frecuencia card√≠aca,Pasos diarios
count,374.000000,374.000000,367.000000,358.000000,374.000000,374.000000,363.000000,374.000000,374.000000
mean,186.500000,187.500000,42.250681,7.134916,7.312834,59.171123,5.377410,70.165775,6816.844920
std,108.108742,108.108742,8.679940,0.800129,1.196956,20.830804,1.772484,4.135676,1617.915679
min,0.000000,1.000000,27.000000,5.800000,4.000000,30.000000,3.000000,65.000000,3000.000000
25%,93.250000,94.250000,36.000000,6.400000,6.000000,45.000000,4.000000,68.000000,5600.000000
50%,186.500000,187.500000,43.000000,7.200000,7.000000,60.000000,5.000000,70.000000,7000.000000
75%,279.750000,280.750000,50.000000,7.800000,8.000000,75.000000,7.000000,72.000000,8000.000000
max,373.000000,374.000000,59.000000,8.500000,9.000000,90.000000,8.000000,86.000000,10000.000000

In [12]:
print("Las columnas con valores nulos son: ", df.columns[df.isnull().any()])

Las columnas con valores nulos son:  Index(['Gender', 'Age', 'Sleep Duration', 'Stress Level'], dtype='object')

In [13]:
# Tipos de datos 
df.dtypes

Unnamed: 0                   int64
Person ID                    int64
Gender                      object
Age                        float64
Occupation                  object
Sleep Duration             float64
Quality of Sleep             int64
Physical Activity Level      int64
Stress Level               float64
BMI Category                object
Blood Pressure              object
Heart Rate                   int64
Daily Steps                  int64
Sleep Disorder              object
dtype: object